@charset "utf-8";
@import url(pc.css) screen and (min-width: 800px);
@import url(mobile.css) screen and (max-width: 800px);
.content{width: 88%;margin-left: auto;margin-right: auto;}
#ip1{width: 100%;padding:40px 0;}


#ip2{width: 100%;padding:40px 0;}



#ip3{width:100%;margin-bottom: 30px;}



